#video-1 {
    width: 600px;
    height: 400px;
    background-color: aqua;
    border-radius: 10px;
    padding: 10px;
}

body {
    background-color: black;
    color: white;
    text-align: center;
}

video {
    width: 600px;
    height: 300px;
    border-radius: 10px;
}